@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&family=Tajawal:wght@300;900&display=swap');
*{
    margin:0;
    padding: 0;
}

.sidebar{
    background-color:rgb(134, 134, 219);
    width: 434px;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
   
}
.sidebar nav{
    padding: 72px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33 px;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    /* width: 80vw; */
    margin-top: 30px;
    display: flex;
   
}
.div1{
    
    margin: 50px;
}
.div2{
  
    margin: 50px;
}
.container{
    display: flex;

}
.infoContainer{
    /* background-color: rgb(0, 255, 115); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.divInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:50px;
}
.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
.About{
    font-size: 30px;
    margin-bottom: 10px;
}
.About ul li div p {
    font-size: 20px;
}

.moreabout{
    
    font-size: 25px;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
}

.divpic img{
    height: 58vh;
}

.sidebar1{
    font-size: 22px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:100px;
    text-decoration: none;
    
}
h1{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;

}
.sidebar1 a{
    text-decoration: none;
    color: black;
}
.About{
    margin-left: 35px;
    align-content: center;
}
.h1{
    margin-left: 35px;
    margin-top: 25px;
    font-size:8px;
    align-content: center;
}
.li{
    font-size: 8px;
}
.div1 h4{
    font-size: 35px;
    margin-left: 20px;
}
.div2 h4{
    font-size: 35px;
}
h1{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 65px;
}
ol{
    font-size: 25px;
}